VITE_XLAYER_RPC_URL=https://rpc.xlayer.tech
VITE_REGISTRY_ADDRESS=
VITE_ROUTER_ADDRESS=
VITE_FACTORY_ADDRESS=
VITE_TAPEOUT_PROCESSOR_ADDRESS=
VITE_REVENUE_VAULT_ADDRESS=
VITE_PROCESSOR_RECIPIENT_ADDRESS=
VITE_POD_ACCOUNT_ADDRESS=
VITE_TAPEOUT_OWNERSHIP_ADAPTER_ADDRESS=
VITE_TAPEOUT_CONTAINER_ADAPTER_ADDRESS=
VITE_TAPEOUT_CONTAINER_ADDRESS=
VITE_ROUTER_DEPLOYMENT_BLOCK=0
VITE_REGISTRY_DEPLOYMENT_BLOCK=0
VITE_RECEIPT_LOOKBACK_BLOCKS=500
VITE_IPFS_GATEWAY_URL=https://ipfs.io/ipfs/
VITE_ENABLE_LIVE_CALLS=false
VITE_ENABLE_BROWSER_DEPLOY=false
VITE_ADMIN_WALLET_ADDRESS=
VITE_CIRCUIT_ID=
VITE_TAPEKIT_SITE_REGISTRY_ADDRESS=0xd6efb7adcc9c83dc4924ad56f6a8e4e969b9adb6
VITE_TAPEKIT_DOMAIN_BINDING_ADDRESS=0x68809fd2fb343aa57d0aeb7f33defe477c9666f9
VITE_TAPEOUT_PROCESSOR_INDEX=
VITE_TAPEKIT_GATEWAY=tapekit.org
VITE_MANIFEST_FALLBACK_URI=https://yanwenzhe519-ctrl.github.io/tapeout-circuit-commons/manifests/circuit-1-v1.0.1.json
VITE_SERVICE_SURFACE_URL=https://yanwenzhe519-ctrl.github.io/tapeout-circuit-commons/
