VITE_XLAYER_RPC_URL=https://rpc.xlayer.tech
VITE_REGISTRY_ADDRESS=
VITE_ROUTER_ADDRESS=
VITE_TAPEOUT_PROCESSOR_ADDRESS=
VITE_REVENUE_VAULT_ADDRESS=
VITE_TAPEOUT_OWNERSHIP_ADAPTER_ADDRESS=
VITE_ROUTER_DEPLOYMENT_BLOCK=0
VITE_REGISTRY_DEPLOYMENT_BLOCK=0
VITE_IPFS_GATEWAY_URL=https://ipfs.io/ipfs/
VITE_ENABLE_LIVE_CALLS=false
VITE_CIRCUIT_ID=
